<div class="row">
   <div class="col-md-12">
      <h3>
         Cuestionario de Abordaje
      </h3>
   </div>
</div>

<hr>
	
   <div class="row">
      <div class="col-xs-5 text-right">Cantidad de Abordajes día</div>
      <div class="col-xs-7">{{ datosCuestionario.CantidadAbordajesDia }}</div>
   </div>
   		 
   <div class="row">
      <div class="col-xs-5 text-right">Cantidad de abordajes venta</div>
      <div class="col-xs-7">{{ datosCuestionario.CantidadAbordajesVenta }}</div>
   </div>
