<div class="row">
   <div class="col-md-12">
      <h3>
         Cuestionario de Bodega
      </h3>
   </div>
</div>

<hr>

<div ng-repeat="producto in datosCuestionario">
   <div class="row">
      <div class="col-xs-5 text-right">Producto</div>
      <div class="col-xs-7">{{ producto.Producto.DescCorta }}</div>
   </div>
   <div class="row">
      <div class="col-xs-5 text-right">SKU</div>
      <div class="col-xs-7">{{ producto.Producto.SKU }}</div>
   </div>
   <div class="row">
      <div class="col-xs-5 text-right">Cajas Salen Bodega</div>
      <div class="col-xs-7">{{ producto.CajasSalenBodega }}</div>
   </div>
   <div class="row">
      <div class="col-xs-5 text-right">Inventario Final Bodega</div>
      <div class="col-xs-7">{{ producto.InventarioFinalBodega }}</div>
   </div>
   <div class="row">
      <div class="col-xs-5 text-right">Inventario Final Tienda</div>
      <div class="col-xs-7">{{ producto.InventarioFinalTienda }}</div>
   </div>
   <hr ng-if="!$last">
</div>
