<div class="row">
   <div class="col-md-12">
      <h3>
         Cuestionario de Colocacion de Collarin
      </h3>
   </div>
</div>

<hr>

<div class="row">
   <div class="col-xs-5 text-right">¿Se colocó collarin?</div>
   <div class="col-xs-7">{{ datosCuestionario.SeColocoCollarin | boolean }}</div>
</div>

<div ng-if="datosCuestionario.SeColocoCollarin">
   <div class="row">
      <div class="col-xs-5 text-right">Cantidad de Collarines Colocados</div>
      <div class="col-xs-7">{{ datosCuestionario.CantidadColocada }}</div>
   </div>
   <div class="row">
      <div class="col-xs-5 text-right">Evidencia</div>
      <div class="col-xs-7">
         <img class="img-responsive img-rounded" ng-src="{{ crearDataUrl(datosCuestionario.Evidencia) }}"/>
         <span ng-hide="datosCuestionario.Evidencia">N/D</span>
      </div>
   </div>
</div>
<div ng-if="!datosCuestionario.SeColocoCollarin">
   <div class="row">
      <div class="col-xs-5 text-right">Motivo de no Colocacion de Collarin</div>
      <div class="col-xs-7">{{ datosCuestionario.MotivoNoColocacion.Descripcion }}</div>
   </div>
</div>
