<div class="row">
   <div class="col-md-12">
      <h3>
         Cuestionario Genérico
      </h3>
   </div>
</div>

<hr>

<div class="row">
   <div class="col-xs-5 text-right">Descripción</div>
   <div class="col-xs-7">{{ datosCuestionario.Descripcion }}</div>
</div>
<div class="row">
   <div class="col-xs-5 text-right">Observaciones</div>
   <div class="col-xs-7">{{ datosCuestionario.Observaciones }}</div>
</div>
<div class="row">
   <div class="col-xs-5 text-right">Evidencia</div>
   <div class="col-xs-7">
      <img class="img-responsive img-rounded" ng-src="{{ crearDataUrl(datosCuestionario.Evidencia) }}"/>
      <span ng-hide="datosCuestionario.Evidencia">N/D</span>
   </div>
</div>
