<div class="row">
    <div class="col-md-12">
       <h3>
          Cuestionario de Store Check Inventario
       </h3>
    </div>
 </div>
 
 <hr>
 
 <!-- <div ng-repeat="datosCuestionario in datosCuestionario"> -->
<div class="row">
    <div class="col-xs-5 text-right">Producto</div>
    <div class="col-xs-7">{{ datosCuestionario.producto.DescCorta || 'N/D' }}</div>
</div>
<hr>
<div class="row">
    <div class="col-xs-5 text-right">Inventario Retail</div>
    <div class="col-xs-7">{{ datosCuestionario.InventarioRetail | number }}</div>
</div>
<hr>
<div class="row">
    <div class="col-xs-5 text-right">¿Inventario Fisico VS Teorico?</div>
    <div class="col-xs-7">{{ datosCuestionario.InventarioFisicoVSTeorico | boolean }}</div>
</div>
<hr>
<div class="row">
    <div class="col-xs-5 text-right">Venta Promedio</div>
    <div class="col-xs-7">{{ datosCuestionario.VentaPromedio | currency }}</div>
</div>
<hr>
<div class="row">
    <div class="col-xs-5 text-right">Dias Inventario Promedio</div>
    <div class="col-xs-7">{{ datosCuestionario.DiasInventarioPromedio | number:6 }}</div>
</div>
<!-- </div> -->
 