<div class="row">
   <div class="col-md-12">
      <h3>
         Cuestionario de Tramos
      </h3>
   </div>
</div>

<hr>
	
   <div class="row">
      <div class="col-xs-5 text-right">Altura Anaquel</div>
      <div class="col-xs-7">{{ datosCuestionario.AlturaAnaquel }}</div>
   </div>
   		 
   <div class="row">
      <div class="col-xs-5 text-right">Tramo</div>
      <div class="col-xs-7">{{ datosCuestionario.Tramo }}</div>
   </div>

   <div class="row">
      <div class="col-xs-5 text-right">Fondo</div>
      <div class="col-xs-7">{{ datosCuestionario.Fondo }}</div>
   </div>

   <div class="row">
      <div class="col-xs-5 text-right">Tramos Por Categoría</div>
      <div class="col-xs-7">{{ datosCuestionario.TramosXCategoria }}</div>
   </div>

   <div class="row">
      <div class="col-xs-5 text-right">Charolas Por Tramo</div>
      <div class="col-xs-7">{{ datosCuestionario.CharolasXTramo }}</div>
   </div>
