<div class="col-sm-12" ng-form="cadenaProductoForm">

   <div class="row">
      <div class="col-sm-6 form-horizontal">
         <captura-combo
            array="vm.cadenas"
            label="Cadena"
            model="vm.cadena"
            texto-opcion="item.Nombre"
            track-by="item.ID"></captura-combo>

         <captura-combo
            array="vm.productos"
            label="Producto"
            model="vm.producto"
            texto-opcion="item.DescCorta"
            track-by="item.ID"></captura-combo>

      </div>
   </div>

   <div class="row">
      <div class="col-sm-3" style="margin-bottom: 1em">
         <button type="button" class="btn btn-success btn-block" ng-click="vm.agregarProducto()">
            <i class="fa fa-plus"></i>
            Agregar
         </button>
      </div>
      <div class="col-sm-3">
         <button type="button" class="btn btn-danger btn-block" ng-click="vm.removerProducto()">
            <i class="fa fa-times"></i>
            Remover
         </button>
      </div>
   </div>

</div>
