<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="page-header">
					<h2><small>Listado de Rutas</small></h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-11">
				<button class="btn btn-sm btn-success" ng-click="nuevo()">
					<i class="fa fa-plus"></i> Nuevo
				</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div kendo-grid id="gridListadoRutas"></div>
			</div>
		</div>
	</div>
</div>