
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-header">
                    <h2>
                        <small>{{::tituloPagina}}</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row" ng-form="form">
            <div class="col-md-4 col-sm-12">
                <div class="input-group">
                    <label for="tipo" class="input-group-addon">Rango de días</label>
                    <select class="form-control" name="tipo" ng-model="filtros.rango" required>
                        <option value="1">+ 60 días</option>
                        <option value="2">Entre 30 - 60 días</option>
                        <option value="3">Sin ingreso </option>
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="obtenerReporte()">
                        <i class="fa fa-search">Buscar</i> 
                        </button>
                    </span>
                </div>
            </div>  
        </div>     
    </div>        
</div>        
<hr>
<div class="row">
    <div class="col-md-11 col-sm-11">
        <div kendo-grid id="noingresomovil"></div>
    </div>
</div> 