
<div class="row">
    <div class="col-md-7 col-sm-7">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-header">
                    <h2>
                        <small>{{::tituloPagina}}</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row" ng-form="form">
            <div class="col-xs-12 text-left">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="obtenerReporte()">
                        <i class="fa fa-search">Buscar</i> 
                    </button>
                </span>
            </div>  
        </div>
     </div> 
</div> 
<br>
<div class="panel-heading" ng-show="registros">
    <h3>Resumen</h3><br>
</div>
<div class="row" ng-show="registros">
    <div class="col-md-11 col-sm-11">
        <div kendo-grid id="resumen"></div>
    </div>
</div><br> 
<div class="row" ng-show="registros">
    <hr>
    <div class="panel-heading">
            <h3>Detalle de reporte</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-sm-11">
        <div kendo-grid id="detalle"></div>
    </div>
</div> 